.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

h3, h2, p {
    font-family: "Open Sans";
}

.description {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    color: gray;
}

.parent-1 {
    border: solid;
    width: 478px;
    height: 640px;
    padding: 20px;
    background-color: rgb(62, 32, 146);
    border-radius: 2%;
}

.contact-information h3 {
    color: white;
    font-size: 30px;
}

.contact-information p {
    color: rgba(177,151,248,255);
}

.phone-section, .email-section, .address-section {
    display: flex;
    align-items: center;
}

.phone-section p, .email-section p, .address-section p {
    margin-left: 10px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.contact-form {
    display: flex;
}

.first-last-name-section, .email-phone-section {
    display: flex;
}

.website-query-section {
    padding-bottom: 25px;
}

.message-section {
    display: flex;
    flex-direction: column;
}

.message-content {
    margin-top:10px
}

.send-a-message-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

}

.parent-2 {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    justify-content: center;
}