body {
    background-color: #f9f9fb;
}
.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 76px;
    font-size: large;
    color: #000038;
}

h3, h2, p, h1, label{
    font-family: "Open Sans";
}

.description {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    color: gray;
    margin-bottom: 80px
}

.parent-1 {
    width: 445px;
    height: 596px;
    padding: 20px;
    background-color: rgb(62, 32, 146);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.contact-information h3 {
    color: white;
    font-size: 30px;

}

.contact-information p {
    color: rgba(177,151,248,255);
}

.phone-section, .email-section, .address-section {
    display: flex;
    align-items: center;
}

.phone-section p, .email-section p, .address-section p {
    margin-left: 10px;
    color: rgba(255,240,255,255);
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.contact-form {
    display: flex;
    width: 1255px;
}

.first-last-name-section, .email-phone-section {
    display: flex;
}

.website-query-section {
    padding-bottom: -2px;
}

.message-section {
    display: flex;
    flex-direction: column;
}

.message-content {
    margin-top:10px
}

.send-a-message-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

}

.parent-2 {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 45px;
}

.contact-form {
    display: flex;
    justify-content: center;
    margin: 0 410px;
    border-radius: 2%;
    padding: 5px;
    background-color: #ffffff;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 40%;
    position: relative;
    top: 160px;
    left: 10px
}

.contact-information {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.pink-cercle {
    position: relative;
    background-color: #fa959d;
    width: 195px;
    height: 195px;
    border-radius: 195px 0 5% 0;
    left: 20px;
}

.cercle-section {
    display: flex;
    justify-content: flex-end;
}

.purple-cercle {
    position: relative;
    background-color: #8759f9;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    bottom: 202px;
    right: 42px;
    opacity: 95%;
}

.fill-description {
    margin-top: -30px;
    padding-bottom: 40px;
}

.phone-email-location-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.phone-email-location-section p {
    margin-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.invisible-circle {
    display: flex;
    width: 180px;
    justify-content: space-between;
    
}

.circle-alone {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle-alone:hover {
    background-color: #f196a3;
}

.firstname input, .lastname input, .email input, .phone input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 15px;
    color: black;
    width: 320px;
    font-size: large;
    margin-top: 15px;
}

.email, .phone {
    display: flex;
    flex-direction: column;
}

.email-phone-section {
    margin-top: 45px;
}

.main-frame {
    display: flex;
    justify-content: center;
}

.email {
    width: 370px;
}

.firstname input:hover, .lastname input:hover, .email input:hover, .phone input:hover, .message-content input:hover {
    border-color: #352065;
    cursor: pointer;
}

.website-query-section input[type="radio"] {
    display: none;
}

.website-query-section label {
    cursor: pointer;
    position: relative;
}

.website-query-section label::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #a9a8b0;
    border-width: 2px;
    left: 50%;
    top: 50%;
    transform: translate(64%, -50%);
    margin: -17px 20px;
}

.website-query-section label::after {
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35px;
    top: 17px;
    margin: -15px 30px;
    margin-left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    background-color: #5b33d4;
    color: white;

}

.website-query-section input[type="radio"]:checked + label::after {
    opacity: 1;
}

.message-section {
    margin-top: 40px;
}

.website-query-section {
    margin-top: 47px;
}

.website-query-section p {
    margin-bottom: 30px;
}

.message-content input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 40px;
    color: black;
    width: 690px;
    font-size: large;
    margin-top: 15px;
}

.message-content {
    margin-top: -10px;
}

.align-left {
    margin-left: -30px;
    display: flex;
    justify-content: space-between;
    margin-right: 97px;
}