body {
    background-color: #f9f9fb;
}
.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 76px;
    font-size: large;
    color: #000038;
}

h3, h2, p, h1, label{
    font-family: "Open Sans";
}

.description {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    color: gray;
    margin-bottom: 80px
}

.parent-1 {
    width: 445px;
    height: 596px;
    padding: 20px;
    background-color: rgb(62, 32, 146);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.contact-information h3 {
    color: white;
    font-size: 30px;

}

.contact-information p {
    color: rgba(177,151,248,255);
}

.phone-section, .email-section, .address-section {
    display: flex;
    align-items: center;
}

.phone-section p, .email-section p, .address-section p {
    margin-left: 10px;
    color: rgba(255,240,255,255);
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.contact-form {
    display: flex;
    width: 1255px;
}

.first-last-name-section, .email-phone-section {
    display: flex;
}

.website-query-section {
    padding-bottom: 25px;
}

.message-section {
    display: flex;
    flex-direction: column;
}

.message-content {
    margin-top:10px
}

.send-a-message-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

}

.parent-2 {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 45px;
}

.contact-form {
    display: flex;
    justify-content: center;
    margin: 0 410px;
    border-radius: 2%;
    padding: 5px;
    background-color: #ffffff;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 40%;
    position: relative;
    top: 160px;
    left: 10px
}

.contact-information {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.pink-cercle {
    position: relative;
    background-color: #fa959d;
    width: 195px;
    height: 195px;
    border-radius: 195px 0 5% 0;
    left: 20px;
}

.cercle-section {
    display: flex;
    justify-content: flex-end;
}

.purple-cercle {
    position: relative;
    background-color: #8759f9;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    bottom: 202px;
    right: 42px;
    opacity: 95%;
}

.fill-description {
    margin-top: -30px;
    padding-bottom: 40px;
}

.phone-email-location-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.phone-email-location-section p {
    margin-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.invisible-circle {
    display: flex;
    width: 180px;
    justify-content: space-between;
    
}

.circle-alone {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle-alone:hover {
    background-color: #f196a3;
}

.firstname input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 15px;
    color: #a8a8b0;
    width: 320px;
}

.lastname input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 15px;
    width: 320px;
}

.email input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 15px;
    width: 320px;

}

.phone input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #d6d6d8;
    padding-bottom: 15px;
    width: 320px;
}

.email, .phone {
    display: flex;
    flex-direction: column;
}

.email-phone-section {
    margin-top: 45px;
}

.main-frame {
    display: flex;
    justify-content: center;
}

.email {
    width: 370px;
}